
$primary-color: #1e0383;
$secondary-color: #fdfdfd;
$background-gradient: linear-gradient(to right, #4539c2, #1a156b);
$font-family: Helvetica;
$box-shadow-color: rgba(0, 0, 0, 0.07);
$box-shadow-values: 2.8px 2.8px 2.2px rgba(250, 248, 248, 0.02),
                    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                    100px 100px 80px $box-shadow-color;


@mixin button-styles {
  background-color: $secondary-color;
  color: $primary-color;
  border: 2px solid $primary-color;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 7px;
  
  &:hover {
    background-color: $primary-color;
    color: white;

    > i {
      color: white;
    }
  }
}

@mixin form-control-styles {
  display: flex;
  input {
    margin-right: 0.3rem;
  }
}


* {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  color: #333;
  box-sizing: border-box;
}

body {
  background: $background-gradient;
}

button {
  @include button-styles;
  i {
    color: $primary-color;
    font-weight: bold;
    pointer-events: none;
  }
}

input, select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}


.todo-container {
  max-width: 450px;
  margin: 3rem auto 0;
  background-color: $secondary-color;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: $box-shadow-values;
  
  header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
  }
}

#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  
  p {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control {
    @include form-control-styles;
  }
}

#cancel-edit-btn {
  margin-top: 1rem;
}

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;

  h4 {
    margin-bottom: 0.5rem;
  }

  #search {
    border-right: 1px solid #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    
    form {
      display: flex;
    }

    input {
      width: 100%;
      margin-right: 0.3rem;
    }
  }

  #filter {
    width: 35%;
    display: flex;
    flex-direction: column;

    select {
      flex: 1;
    }
  }
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;

  h3 {
    flex: 1;
    font-size: 0.9rem;
  }

  button {
    margin-left: 0.4rem;
  }

  &.done {
    background-color: #2804ae;

    h3 {
      color: white;
      text-decoration: line-through;
      font-style: italic;
    }
  }
}
